h3{
    font-size: 30px;
    color: #4591c7;
}

.description{
    padding-left: 230px;
    width: 100%;
    margin-top: -298px;
}

.exploreDesc{
    padding-left: 230px;
    width: 100%;
    margin-top: -298px;
    margin-bottom: 35px;
}

.documents{
    width: 210px;
    height: 273px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #4591c7;
}