a{
    text-decoration: none;
}

#header{
    height: 8%;
    background-color: #005a9b;
}

.openDraft{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    vertical-align: middle;
    padding: 14px 20px 12px 20px;
}

.logIn {
    float: right;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    height: 100%;
    border: 0;
    padding: 9px 25px 9px 25px;
    border-left: solid #ffffff 5px;
    text-decoration: none;
    background: 0;
}

.logIn:hover {
  background: #006cba;
  text-decoration: none;
}

#main{
    margin: auto;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

#homepage{
    background-color: #222222;
    width: 100%;
}

#logo{
    display: block;
    margin: auto;
    width: 12%;
    padding-top: 3%;
}

h1{
    padding-top: 2%;
    font-size: 38px;
    text-align: center;
}

#buttonDiv{
    padding-left: 103px;
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

.button {
    width: 240px;
    height: 80px;
    padding: 15px 25px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 100%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button.author{
    background-color: #005a9b;
    box-shadow: 0 15px #003f6c;
}

.button.author:hover {background-color: #006cba}

.button.author:active {
  background-color: #006cba;
  box-shadow: 0 10px #003f6c;
  transform: translateY(4px);
}

.button.editor{
    background-color: #005a9b;
    box-shadow: 0 15px #003f6c;
}

.button.editor:hover {background-color: #006cba}

.button.editor:active {
  background-color: #006cba;
  box-shadow: 0 10px #003f6c;
  transform: translateY(4px);
}

.button.publisher{
    background-color: #005a9b;
    box-shadow: 0 15px #003f6c;
}

.button.publisher:hover {background-color: #006cba}

.button.publisher:active {
  background-color: #006cba;
  box-shadow: 0 10px #003f6c;
  transform: translateY(4px);
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-middle{ display: inline-block; width: 33%; }