<html>
    <head>
        <title>OpenDraft</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
        <link rel="stylesheet" href="../../static/css/docstyle.css">
        <link rel="stylesheet" href="../../static/css/drafts.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="299211330534-8m6edc4on9j26u4m0o2v8nfb9jktqmra.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <a href="/"><p class="openDraft">OPEN DRAFT</p></a>
            <p class="user">Mark Twain</p>
        </div>
        <div id="homepage">
            <div id="main">
                <div id="homepage">
                    <div id="exploreButtons">
                        <div id="exploreLeft">
                            <a href="explore"><button id="exploreLeftButton">Explore Drafts</button></a>
                        </div>
                        <div id="exploreRight">
                            <a href="document"><button id="exploreRightButton" style="background-color: #4591c7; color:0;">My Drafts</button></a>
                        </div>
                    </div>
                    <br><br><br>
                    <h2>Phase 1 - Writing </h2><hr style="border-color: #005a9b;">
                    <div class="documents" id="doc1"></div>
                    <div class="description">
                        <a href="/doc/1"><h3>Adventures of Huckleberry Finn</h3></a>
                        <p style="color: #3cb418; font-size: 20px;">OPEN TO WRITERS</p>
                        <p style="color: #c4c4c4; padding-bottom: 10px;">Last edited: February 21, 1883</p><br><br>
                        <p><b style="color: #4591c7; font-size: 17px;">Contributors:</b></p>
                        <p  style="color: #c4c4c4; font-size: 15px;">Herman Melville</p>
                        <p><b style="color: #4591c7; font-size: 17px;">Tagged Genres: </b></p>
                        <p style="color: #c4c4c4; font-size: 15px;">Adventure, Mystery, Slavery</p>
                    </div>
                    <h2>Phase 2 - Editing </h2><hr style="border-color: #005a9b;">
                    <div class="documents" id="doc1"></div>
                    <div class="description">
                        <h3>Life on the Mississippi</h3>
                        <p style="color: #ccc400; font-size: 20px;">BEING EDITED</p>
                        <p style="color: #c4c4c4; padding-bottom: 10px;">Last edited: December 19, 1882</p><br><br>
                        <p><b style="color: #4591c7; font-size: 17px;">Current Editors:</b></p>
                        <p  style="color: #c4c4c4; font-size: 15px;">Edgar Allen Poe</p>
                        <p><b style="color: #4591c7; font-size: 17px;">Tagged Genres: </b></p>
                        <p style="color: #c4c4c4; font-size: 15px;">Biography</p>
                    </div>
                    <h2>Phase 3 - Publishing </h2><hr style="border-color: #005a9b;">
                    <div class="documents" id="doc1"></div>
                    <div class="description">
                        <h3>Adventures of Tom Sawyer</h3>
                        <p style="color: #d40000; font-size: 20px;">LOOKING FOR PUBLISHERS</p>
                        <p style="color: #c4c4c4; padding-bottom: 10px;">Last edited: December 19, 1882</p><br><br>
                        <p><b style="color: #4591c7; font-size: 17px;">Views:</b></p>
                        <p  style="color: #c4c4c4; font-size: 15px;">23</p>
                        <p><b style="color: #4591c7; font-size: 17px;">Tagged Genres: </b></p>
                        <p style="color: #c4c4c4; font-size: 15px;">Adventure, Mystery</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>