<html>
    <head>
        <title>OpenDraft</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
        <link rel="stylesheet" href="../../static/css/docstyle.css">
        <link rel="stylesheet" href="../../static/css/drafts.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="299211330534-8m6edc4on9j26u4m0o2v8nfb9jktqmra.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <a href="/"><p class="openDraft">OPEN DRAFT</p></a>
            <p class="user">Mark Twain</p>
        </div>
        <div id="docpage">
            <div id="main">
                <div id="docpage">
                    <h2>Adventures of Huckleberry Finn</h2>
                    <div class="buttons">
                        <button id="nextButton">MOVE TO EDITING</button>
                        <button id="deleteButton">DELETE</button>
                    </div>
                    <hr style="border-color: #005a9b;">
                    <div class="page"><textarea class="pageEditor" value="">Chapter 1:

You don’t know about me, without you have read a book by the name of The Adventures of Tom Sawyer; but that ain’t no matter. That book was made by Mr. Mark Twain, and he told the truth, mainly. There was things which he stretched, but mainly he told the truth.
That is nothing. I never seen anybody but lied one time or another, without it was Aunt Polly, or the widow, or maybe Mary. Aunt Polly—Tom’s Aunt Polly, she is—and Mary, and the Widow Douglas is all told about in that book, which is mostly a true book, with some
stretchers, as I said before.
Now the way that the book winds up is this: Tom and me found the money that the robbers hid in the cave, and it made us rich. We got six thousand dollars apiece—all gold. It was an awful sight of money when it was piled up. Well, Judge Thatcher he too</textarea></div>
                    <div class="info">
                        <p style="color: #4591c7; font-size: 20px;">Creator</p>
                        <p style="color: #e3e3e3; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Mark Twain</p>
                        <p style="color: #4591c7; font-size: 20px;">Authors</p>
                        <p style="color: ##e3e3e3; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Mark Twain</p>
                        <p style="color: #c4c4c4; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Herman Melville</p>
                        <p style="color: #c4c4c4; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;Walt Whitman</p><br><br>
                        <p style="color: #4591c7; font-size: 20px; margin-bottom: -10px;">Suggestions</p><hr style="border-color: #005a9b;">
                        <p style="color: #4591c7; font-size: 16px;">Call the dad "Pap"</p>
                        <p style="color: #c4c4c4; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;Walt Whitman - 4 hours ago.</p>
                        <p style="color: #4591c7; font-size: 16px;">Call the mom "Ma'am"</p>
                        <p style="color: #c4c4c4; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;Herman Melville - 20 hours ago.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>