<html>
    <head>
        <title>OpenDraft</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
        <link rel="stylesheet" href="../../static/css/docstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="299211330534-8m6edc4on9j26u4m0o2v8nfb9jktqmra.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <p class="openDraft">OPEN DRAFT</p>
            <p class="user">Signing up as a{{ v_role_name }}</p>
        </div>
        <div id="homepage">
            <div id="main">
                <div id="loginFormDiv">
                <form action="login" class="loginForm" method='POST'>
                    <input class="loginField" type="text" name="email" placeholder="Email">
                    <br>
                    <input class="loginField" type="password" name="password" placeholder="Password">
                    <br><br>
                    <input class="loginButton" type="submit" value="Submit">
                </form> 
                </div>
            </div>
        </div>
    </body>
</html>